<template>
    <v-app>
        <v-btn dark @click="login" color="blue">Login via Uber</v-btn>
    </v-app>
</template>

<script>
export default {
    data() {},
    methods: {
        login: function(e) {
            $cookies.config('1y')
            $cookies.set('user', this.user);
            window.location = this.loginUrl;
        }
    }
  }
</script>

<style scoped>

</style>