<template>
    <v-app>
		<v-toolbar>
			<v-toolbar-title>Uber Ride History for {{ userData.profile.first_name }} {{ userData.profile.last_name }}</v-toolbar-title>
		</v-toolbar>
      <v-layout>
      <v-speed-dial
      v-model="drawer"
      fixed
      top
      right
      direction="bottom"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn
          v-model="drawer"
          color="blue darken-2"
          dark
          fab
        >
         <v-avatar
							size="45"
					>
         <v-img :src="userData.profile.picture"></v-img>
     </v-avatar>
        </v-btn>
      </template>
      <v-btn
        round
        dark
        small
        color="blue darken-2"
				@click="logout"
      >
        Log Out
      </v-btn>
	  <v-btn
        round
        dark
        small
        color="blue darken-2"
		@click="resync"
      >
        Update Data
      </v-btn>
      
    </v-speed-dial>
		 
		<div id="map" class="map"></div>
		<v-bottom-sheet v-model="sheet">
			<template v-slot:activator>
				<v-btn
				color="blue"
				dark
				fixed
				bottom
				left
				>
				Table View
				</v-btn>
			</template>
			<v-data-table
				v-if="!mobile"
				:headers="headers"
				:items="trips"
				class="elevation-1"
				:rows-per-page-items="[5]"
			>
				<template v-slot:items="props">
					<td>{{ props.item.start }}</td>
					<td>{{ props.item.end }}</td>
					<td>{{ props.item.city }}</td>
					<td>{{ props.item.distance }}</td>
					<td>
						<v-btn
							color="blue"
							dark
							@click="viewTrip(props.item.id)"
						>
							View Ride Details <v-icon>open_in_browser</v-icon>
						</v-btn>
					</td>
				</template>
			</v-data-table>
			<v-data-iterator
				v-else
				:items="trips"
				class="elevation-1"
				:rows-per-page-items="[2]"
				column
				wrap
			>
				<template v-slot:item="props">
        <v-flex
          xs12
        >
          <v-card>
            <v-list dense>
              <v-list-tile>
                <v-list-tile-content>Start:</v-list-tile-content>
                <v-list-tile-content>{{ props.item.start }}</v-list-tile-content>
              </v-list-tile>
							<v-list-tile>
                <v-list-tile-content>End:</v-list-tile-content>
                <v-list-tile-content>{{ props.item.end }}</v-list-tile-content>
              </v-list-tile>
							<v-list-tile>
                <v-list-tile-content>City:</v-list-tile-content>
                <v-list-tile-content>{{ props.item.city }}</v-list-tile-content>
              </v-list-tile>
              <v-list-tile>
                <v-list-tile-content>Distance:</v-list-tile-content>
                <v-list-tile-content>{{ props.item.distance }} miles</v-list-tile-content>
              </v-list-tile>
							<v-list-tile>
                <v-list-tile-content><v-btn
									color="blue"
									dark
									@click="viewTrip(props.item.id)"
								>
									View Ride Details <v-icon>open_in_browser</v-icon>
								</v-btn></v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-flex>
      </template>
			</v-data-iterator>
		</v-bottom-sheet>
      </v-layout>
			<v-dialog
				v-model="dialog"
				width="500"
			>
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Helpful Hints
        </v-card-title>

        <v-card-text>
          <ul>
						<li>Click the "Profile" Icon at the top right to refresh your ride data or log out</li>
						<li>Click the "Table View" button at the lower left to see ride details</li>
						<li>For each city you have started a ride from there will be a bubble with the number of rides started from that city. Clicking on the bubble will expand to show all rides</li>
						<li>If clicking on a bubble <strong>does not</strong> show the rides it may be multiple cities close to each other... zoom in on the bubble to split then click again</li>
						<li> I hope you enjoy this app but if you have any question/issues please email me at swmmwg@yahoo.com</li>
					</ul>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="dialog = false"
          >
            Close
          </v-btn>
					<v-btn
            color="primary"
            flat
            @click="killModal"
          >
            Never Show This Agian
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </v-app>
</template>

<script>
export default {
	data() {},
	mounted() {
		this.mobile = this.$vuetify.breakpoint.xsOnly;
		this.headers = [
			{ text: 'Start', value: 'start' },
			{ text: 'End', value: 'end' },
			{ text: 'City', value: 'city' },
			{ text: 'Distance (miles)', value: 'distance' },
			{ text: '', value: 'view' }
		]
		this.initMap();
		console.log(this.readCookie('noHelper'))
		this.dialog = this.readCookie('noHelper') !== 'true';
	},
	methods: {
		createCookie: function(name,value,days) {
			if (days) {
				var date = new Date();
				date.setTime(date.getTime()+(days*24*60*60*1000));
				var expires = "; expires="+date.toGMTString();
			}
			else var expires = "";
			document.cookie = name+"="+value+expires+"; path=/";
		},
		readCookie: function(name) {
			var nameEQ = name + "=";
			var ca = document.cookie.split(';');
			for(var i=0;i < ca.length;i++) {
				var c = ca[i];
				while (c.charAt(0)==' ') c = c.substring(1,c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
			}
			return null;
		},
		eraseCookie: function(name) {
			createCookie(name,"",-1);
		},
		killModal: function() {
			this.dialog = false;
			this.createCookie('noHelper', 'true', 365)
		},
		logout: function() {
			window.open('https://riders.uber.com/logout');
			window.location = '/resync';
		},
		viewTrip: function(id) {
			window.open('https://riders.uber.com/trips/' + id);
		},
		resync: function() {
			window.location = '/resync';
		},
		initMap() {
			var _this = this;
			var latLon = [];
			var layer = {
				id: 0,
				name: 'Rides',
				active: true,
				features: []
			}
			_this.userData.trips.history.map(function(trip, idx) {
				var lat = trip.start_city.latitude;
				var lon = trip.start_city.longitude;
				latLon.push([lat, lon]);
				layer.features.push({
					id: idx,
					name: `<strong>Date:</strong> ${moment.unix(trip.start_time).format('MMMM Do YYYY')}<br><strong>Time:</strong> ${moment.unix(trip.start_time).format('h:mm A')}<br><strong>Distance:</strong> ${trip.distance.toFixed(2)} miles<br><a href="https://riders.uber.com/trips/${trip.request_id}" target="_blank">Ride Details &raquo;</a>`,
					type: 'marker',
					coords: [lat, lon],
				})
				_this.trips.push({
					start: moment.unix(trip.start_time).format('MMMM Do YYYY h:mm A'),
					end: moment.unix(trip.end_time).format('MMMM Do YYYY h:mm A'),
					city: trip.start_city.display_name,
					distance: trip.distance.toFixed(2),
					id: trip.request_id
				})
			})
			_this.layers.push(layer);
			var coords = L.latLngBounds(latLon);
			_this.map = L.map('map').fitBounds(coords);
			_this.tileLayer = L.tileLayer(
			'https://cartodb-basemaps-{s}.global.ssl.fastly.net/rastertiles/voyager/{z}/{x}/{y}.png',
			{
				maxZoom: 18,
				attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>',
			}
			);
			_this.tileLayer.addTo(_this.map);
			var markers = L.markerClusterGroup({
				spiderfyOnMaxZoom: true,
				showCoverageOnHover: false,
				zoomToBoundsOnClick: false
			});
			_this.layers[0].features.forEach((feature) => {
				markers.addLayer(L.marker(feature.coords)
				.bindPopup(feature.name))
				
			});
			_this.map.addLayer(markers)
		}
	}
  }
</script>

<style>
	.map {
		height: calc(100vh - 50px);
		width:100%;
	}
	.v-speed-dial, .v-btn--bottom, .v-dialog__container {
		z-index: 9999;
	}
	.v-data-iterator__actions {
		background: white;
	}
</style>